h1{
    color: darkred;  
    text-align: center;
}
h2{
    color: aquamarine;
    font-style: italic;
    text-align: center;
}
p{
    font-style: italic;
    text-align: center;
    color: rgb(21, 88, 88);
}